/* #region common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.vp {
    height: 100vh;
}

.container {
    width: 100%;
}

/* #region col */
.row {
    display: flex;
    flex-wrap: wrap;
}

.col_1 {
    width: calc(100% / 12 *1);
}

.col_2 {
    width: calc(100% / 12 *2);
}

.col_3 {
    width: calc(100% / 12 *3);
}

.col_4 {
    width: calc(100% / 12 *4);
}

.col_5 {
    width: calc(100% / 12 *5);
}

.col_6 {
    width: calc(100% / 12 *6);
}

.col_7 {
    width: calc(100% / 12 *7);
}

.col_8 {
    width: calc(100% / 12 *8);
}

.col_9 {
    width: calc(100% / 12 *9);
}

.col_10 {
    width: calc(100% / 12 *10);
}

.col_11 {
    width: calc(100% / 12 *11);
}

.col_12 {
    width: calc(100% / 12 *12);
}

/* #endregion col */

/* #region position_ */
.position_r {
    position: relative;
}

.position_a {
    position: absolute;
}

.d_flex {
    display: flex;
}

/* #endregion position_ */

/* #region common */


/* #region utility */


/* #endregion utility */


/* #region debug */
.debug .col_2 {
    background-color: rgba(255, 52, 52, 0.817);
}


.debug .col_10.main {
    background-color: rgba(249, 129, 149, 0.883);
}

.debug .col_12 {
    background-color: rgba(68, 71, 255, 0.831);
    box-shadow: inset 0 0 0 1px;
}

/* #endregion debug */

/* #region main_container */
.side_menu.col_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side_menu .logo {
    height: calc(100vh - 88px);
}

.main.col_10 {
    height: calc(100vh - 88px);
    margin-left: auto;
}

.top_bar.col_12,
.logo.col_12 {
    height: 90px;
}



.btm_bar.col_12 {
    height: 88px;
}

/* #endregion main_container */



/************************************************
*************************************************
*************************************************
Media querry Media querry Media querry Media querry
Media querry Media querry Media querry Media querry
************************************************
*************************************************
*************************************************/