/* #region common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.vp {
    height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
}

.font {
    font-family: 'Montserrat', sans-serif;

}

.y_centered {
    display: flex;
    align-items: center;
}

/* #region grid */
.row {
    display: flex;
    flex-wrap: wrap;
}

.col_1 {
    width: calc(100% / 12 *1);
}

.col_2 {
    width: calc(100% / 12 *2);
}

.col_3 {
    width: calc(100% / 12 *3);
}

.col_4 {
    width: calc(100% / 12 *4);
}

.col_5 {
    width: calc(100% / 12 *5);
}

.col_6 {
    width: calc(100% / 12 *6);
}

.col_7 {
    width: calc(100% / 12 *7);
}

.col_8 {
    width: calc(100% / 12 *8);
}

.col_9 {
    width: calc(100% / 12 *9);
}

.col_10 {
    width: calc(100% / 12 *10);
}

.col_11 {
    width: calc(100% / 12 *11);
}

.col_12 {
    width: calc(100% / 12 *12);
}

/* #endregion col */


/* #region color */
:root {
    --sp-darker: #000000;
    --sp-dark: #282828;
    --sp-darker-blue: #080B12;
    --sp-dark-blue: #141922;
    --sp-active: #ADFF2F;
    --sp-light: #D2D2D2;
    --sp-lighter: #FFFFFF;
    --sp-dirty-light: #7D7F84;

}

/* #endregion color */


/* #region position_ */
.position_r {
    position: relative;
}

.position_a {
    position: absolute;
}

.d_flex {
    display: flex;
}

/* #endregion position_ */

/* #endregion common */


/* #region utility */
.container_90 {
    width: 90%;
    margin: auto;
}

/* #endregion utility */


/* #region debug */
.debug .col_2 {
    background-color: rgba(255, 52, 52, 0.817);
}


.debug .col_10.main {
    background-color: rgba(249, 129, 149, 0.883);
}

.debug .col_12 {
    background-color: rgba(68, 71, 255, 0.831);
    box-shadow: inset 0 0 0 1px;
}

/* #endregion debug */

/* #region .side_menu */

.side_menu.col_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--sp-darker);
}

.side_menu .logo {
    height: calc(100vh - 88px);
    align-items: center;
}

.side_menu .logo img {
    margin-left: 0.80rem;
    width: 60%;
}




.playlist {
    padding: 0 1rem;
}

.active {
    box-shadow: inset 3px 0 var(--sp-active);
}

.action {
    padding-bottom: 0.25rem;
}

.actions .item {
    margin-left: 1rem;
}

.item {
    width: 20px;
    color: var(--sp-dirty-light);
}

.playlist .add .item {
    font-size: 40px;
    margin-right: 15%;
}

.actions .text {
    padding: 2% 5%;
}

.text {
    color: var(--sp-dirty-light);
    font-weight: bold;
    font-size: 12px;
}


nav h3 {
    color: var(--sp-lighter);
    padding-bottom: 0.25rem;
}

.add>.text {
    font-size: 14px;
}

.playlist .text {
    padding: 0.25rem 0;

}

.playlist_name.text {
    padding-top: 1rem;
}

.side_menu.bottom .call_to_action,
.side_menu.bottom .avatar {
    padding: 5% 0;
}

.side_menu.bottom .call_to_action img {
    width: 8%;
    filter: invert(53%) sepia(5%) saturate(351%) hue-rotate(185deg) brightness(93%) contrast(83%);
    margin-right: 0.25rem;
}

.side_menu.bottom .call_to_action {
    border-bottom: 1px solid var(--sp-dirty-light);
}

.avatar .text {
    font-size: 1rem;
    color: var(--sp-lighter);
}

.avatar img {
    width: 8%;
    background-color: var(--sp-dirty-light);
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin-right: 0.25rem;

}

/* #endregion .side_menu */


/* #region main */


.top_bar.col_12,
.logo.col_12 {
    height: 90px;
}

.top_bar.col_12 {
    background-color: var(--sp-darker-blue);

}

.main.col_10 {
    height: calc(100vh - 88px);
    background-color: var(--sp-dark-blue);
}

/* #endregion main */


.btm_bar.col_12 {
    height: 88px;
    background-color: var(--sp-dark);
}





/************************************************
*************************************************
*************************************************
Media querry Media querry Media querry Media querry
Media querry Media querry Media querry Media querry
************************************************
*************************************************
*************************************************/